# Pandas, the data-handling library.
pandas

# The Python interface to the ffmpeg video handling library.
ffmpeg-python

# Office Document Generation & Parsing
mammoth
python-pptx
openpyxl
pyyaml
markdownify
pdf2image

# Formatting & Output
tabulate
